<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.cepdesafio" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="24" android:targetSdkVersion="30" />
	<application android:label="cepDesafio.Android" android:theme="@style/MainTheme">
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBXbsCl4A6ZwqGRpDqC3Hx1-SmkGZsJjp0"/>
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
